@media(min-width:1100px){
  .overley{
    position: absolute;
    top:0;
    left: 0;
    height: 1000px;
    width:100vw;
    background:#02464f;
    opacity:0.7;
    z-index: -1;
  }
  .myVideo{
    display: flex;
    position: absolute;
    top:0;
    right: 0;
    height: 100vh;
    size: cover;  
  }
}
.overley{
  position: relative;
  top:0;
  left: 0;
  height: 100%;
  width:100vw;
  z-index: -1;
  background:#02464f;
}
@media only screen and (max-width: 1100px) {
  .myVideo {
      display: none;
  }
}
